@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}


:root{
    --azul: rgb(90, 116, 172);
    --branco: rgb(255, 255, 255);
    --cinza: rgb(100, 93, 93);/*cabeçalhos*/
}

body{
    background-color: var(--azul); 
    min-width: 320px;
    
}

header{
    background-image: linear-gradient(to bottom, var(--azul), rgb(13, 28, 117));
    margin: 0%;
    height: 65px;
    align-items: center;
    text-align: center;
}

header > img{
    width: 170px;
    height: 50px;

}

nav{
    background-color: var(--cinza);
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 10px;
    text-align: center;
    

}

nav > a{
    color: var(--branco);
    padding: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;

}

nav :hover{
    color: gold;
    background-image: linear-gradient(to bottom, rgb(13, 28, 117), var(--azul));
    border-radius: 5px;
    transition-duration: 0.5s;

}

footer{
    background-color: var(--cinza);
    height: 50px;
}

img{
    
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

main{
    background-color: var(--branco);
    border-radius: 5px;
    padding: 15% 5% 5% 5%;
    min-width: 320px;
    max-width: 700px;
    margin: auto;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


footer>p{
    
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    display: block;
    color: aliceblue;

}

p{
    text-align: justify;
    padding-bottom: 20px;
}

h1{
    text-align: center;
    
}

article{
    margin-top: 100px;
    align-items: center;
}

main img.pequena{
    padding-bottom: 20px;
    max-width: 350px;
    display: block;
    margin: auto;
    border-radius: 5%;
}

article > img{
    padding-top: 35px;
    max-width: 500px;
    display: block;
    margin: auto;
}

.fixo{
    position: fixed;
    width: 100%;
    
}

ul{
    padding-left: 20px;
    padding-bottom: 10px;
}

h2{
    font-size: 20px;
    padding-bottom: 10px;
}

.consulta{
    margin-top: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  th {
    background-color: #333;
    color: #fff;
}